<button mat-raised-button class="ajout"
(click)="ajouterBenevole()">Ajouter un bénévole <mat-icon aria-hidden="false" aria-label="Ajouter">person_add</mat-icon></button>

<div class="tableau">
    <table mat-table  matSort [dataSource]="dataSource" class="mat-elevation-z8">

    
        <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> N° Téléphone </th>
        <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
        </ng-container>
    
        <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Mail </th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
        </ng-container>
    
        <ng-container matColumnDef="bouton">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell class="bouton" *matCellDef="let element">

            <button mat-button (click)="generatePdf(element)" matTooltip="Exporter au format PDF">
                <mat-icon aria-hidden="false" aria-label="PDF">picture_as_pdf</mat-icon>
            </button>
            
            <button mat-button (click)="ajouterBenevole(element.id)" matTooltip="Modifier ce bénévole">
                    <mat-icon aria-hidden="false" aria-label="Modifier">edit</mat-icon>
            </button>

            <button mat-button (click)="supprimerBenevole(element)" matTooltip="Supprimer ce bénévole">
                <mat-icon aria-hidden="false" aria-label="Supprimer">delete_outline</mat-icon>
            </button>

        </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator class="paginator" [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[1, 5, 10, 25, 100]">
    </mat-paginator>
</div>