<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Adresse" matInput [(ngModel)]="poste.adresse">
</mat-form-field>
<mat-form-field>
    <input placeholder="{{action}} Kilometrage" matInput [ngModel]="poste.kilometrage">

</mat-form-field>
   
  <ng-template #elseTemplate>
    Etes vous sur  <b>{{poste.adresse}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>